/*template and fonts*/

:root {
    --pink-green: radial-gradient(50% 50% at 50% 50%, #E1EAD7 63.5%, #FF63AE 100%);
    --rainbow: linear-gradient(90deg, #FF540F 0%, #FF0089 23.5%, #009E57 50%, #FF0089 76.5%, #FF540F 100%);    
    --rainbow2: linear-gradient(0deg, #FF540F 0%, #FF0089 23.5%, #009E57 50%, #FF0089 76.5%, #FF540F 100%);    ;
    --white: #ffffff;
    --pink-white: radial-gradient(50% 50% at 50% 50%, #FFFAEA 0%, #FFA2E2 100%);
  }
  @font-face {
    font-family: "DFVN 36Daysoftype";
    src: url("fonts/DFVN\ 36daysoftype.otf");
}

@font-face {
  font-family: "Arial Narrow";
  src: url("fonts/Arial\ Narrow.ttf");
}
  
  html{
    width: 100vw;
    
    overflow: hidden;
}
* {

    margin: 0;
   padding: 0;
   border: 0;
    box-sizing: border-box;
    
}

  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
   padding: 0;
   border: 0;
   
  

   font-family: "proxima-nova", sans-serif;
    
  }

  #kitchen{
    cursor: none;
    background-image: url("img/Bango.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background 0.5s ease;
  }

#alleyway{
  background-image: url("img/Alleyway.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#living-room{
  background-image: url("img/living_room2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}


  a{
    text-decoration: none;
    color: inherit;
  }

.script{
  font-family: "DFVN 36Daysoftype";
}



.rainbow{
  background: var(--rainbow);
}

.rainbow2{
  background: var(--rainbow2);
}
/* Loading Animation */


/*Cursor*/

#cursor{
  width: 400px;
  height: 600px;
  position: fixed;
  transform: translate(-350px,-20px);
  background-image: url('img/dua2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: none;
  pointer-events: none;
  z-index: 9999; 
}






/* Top-level navigation */
.nav{
  z-index: 1000;
}
.top-left-container{
  position: absolute; 
  top: 25px;
  left: 35px;
 
  z-index: 1000;
}

#logo{
  z-index:10;
  transition: transform .2s ease;
}

.global-nav{
font-size: 11pt;
text-transform: uppercase;
z-index: -1;
top: 0;
left: 60px;
position: absolute;
overflow:hidden;

width: 350px; 

    height:60px;
}

.global-nav-content{
position: absolute;
top:0;
left: -100%;
width: 100%;
  height: 100%;
  transition: left 0.5s ease;
  display: flex;
flex-direction: row;
gap: 10px;
}

.slide {
left: 20px;
}

.nav-link{
  display: flex;
justify-content: center; 
align-items: center;

}
.global-nav-item{
padding: 8px 10px;
border-radius: 50px;
width: 100%;

background: rgba(255, 255, 255, 0.587);
backdrop-filter: blur(5.099999904632568px);
text-align: center;

color: #FF0089;
border: 1px solid #FF0089;
transition: box-shadow .2s ease;
}

.nav-journey{
color: #FF540F;
border: 1px solid #FF540F;
}

  .top-right-container{
    display: flex;
    gap: 7px;
    position: absolute; 
    top: 25px;
    right: 35px;
    z-index: 1000;
  }
  .styled-button {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    border: 1px solid #000;
  }
  .styled-button:active {
    border: 1px solid #DBFF00;
    box-shadow: 0px 0px 7px #DBFF00;
  }

  #audio-toggle img{
    width: 25px;
    height: 25px;
    padding: 0 4px;
  }

  .bg-btn-active{
    border: 1px solid #DBFF00;
  }
  p {
    margin: 0;
  }

  .bg-img-wooden {
  
    background: url("img/Bango.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .bg-img-inox {

    background: url("img/Baninox.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .bg-img-pinkgreen {
    background: var(--pink-green);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
  }

.bottom-left-container{
  position: absolute;
  bottom: 25px;
  left: 35px;
  font-size: 13px;
  z-index: 1000;
}

.guide{
  position:absolute;
  top: -100px;
  overflow:hidden;
  width: 160px;
  height: 100px;

}

.guide-content{
  position: absolute;
  top: 100%;
  transition: top .5s ease;
}

.guide-indi{
  
  color: #FDF700;
  padding: 5px 15px;
  margin: 10px 0;
  border-radius: 50px;
  border: 1px solid #FDF700;
  background: rgba(217, 217, 217, 0.20);
  backdrop-filter: blur(5px);

}

.guide-indi span{
  text-transform: uppercase;
}

.lang-toggle{
  
  
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  width: 85px;
  border-radius: 50px;
  border: 1px solid #000;
  background: rgba(217, 217, 217, 0.20);
  backdrop-filter: blur(5px);
}
.lang{
  padding: 13px 3px;
  z-index: 2;
}

#lang-selector{
  position: absolute;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  top: 5px;
  left: 7px;
  z-index: 1;
  background: radial-gradient(50% 50% at 50% 50%, #FF540F 0%, #FFF 100%);
  filter: drop-shadow(0px 0px 10.6px rgba(255, 255, 255, 0.75));
}

/* ALLEYWAY */
.vertical-sign{
  font-family: "DFVN 36Daysoftype";
  
  position: absolute;
  
  perspective-origin: center;
  
}

#alleyway .vertical-sign{
  top: 25vh;
  left: 21vw;
  perspective: 500px;
}

#living-room .vertical-sign{
  
  perspective: 600px;
}



.v-s-inner-container{
  display: flex;
  gap: 30px;
  transform: rotateY(50deg);
  box-shadow: none;
  transition: all 0.3s;
 
}

.vertical-sign-content{
  color: white;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
    width: 90px;
    
    word-wrap: break-word;
    font-size: 12.5vh;
    line-height: 9.5vh;
    text-align: center;
    padding: 30px 10px 20px;
    
    white-space: pre-wrap;
}



.v-s-alley{
  background: linear-gradient(90deg, #43C2A3 0%, #FF540F 50%, #43C2A3 100%);
}

#vs-kitchen{
  top: 15vh;
  left: 8vw;
}

#vs-kitchen .vertical-sign-content{
  
  background: var(--rainbow);
}

#vs-journey{
  top: 10vh;
  right: 3vw;
}

#vs-journey .v-s-inner-container{
  transform: rotateY(-50deg);
}

#vs-journey .v-s-inner-container:hover{
  transform: rotateY(0);
}

#vs-journey .vertical-sign-content{
  
  background: linear-gradient(90deg, #43C2A3 0%, #FF540F 50%, #43C2A3 100%);
}

.v-s-inner-container:hover{
  transform: rotateY(0);
  
}

#moped{
  position: fixed;
  top: 47vh;
  left: 37vw;
  width: 11vw;
}

.hover-item{
  width: 100%;
  fill: transparent;
  transition: filter 0.3s ease-in-out;
}

.hover-item-container{
  position: fixed;
}

.hover-item:hover{
  filter: blur(2px);

}

.hover-item path{
  transition: stroke-width 0.3s ease-in-out;

}

.hover-item:hover path{
  stroke-width: 5;

}

/* LIVING ROOM */
#outside{
  
  bottom: 28.1vw;
  left: 44.2vw;
  width: 4.5vw;
}

#fan{
  
  bottom: 21.7vw;
  left: 56.5vw;
  width: 5.2vw;
}

#tv{
  bottom: 26.2vw;
  left: 70.9vw;
  width: 6.9vw;
}

/* TRANSPORTATION */
.transportation-question, .transportation-container{
  
}

.transportation-question{
  position: absolute;
  z-index: 5;
  top: 20vh;
  left: 50%;
    text-align: center;
    transform: translate(-50%, 20%);
    font-size: 24pt;
    font-weight: 600;
    color: #E1EAD7;
    
}

.transportation-question span{
  background-color: #E1EAD7;
  background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.transportation-container{
  position: absolute;
  width: 50vw;
  height: 100vh;
  font-family: "DFVN 36Daysoftype";
  
}

.travel-option{
  position: absolute;
  top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  font-size: 54pt;
  transition: font-size .3s ease;
}

.travel-option:hover{
  font-size:60pt;
}

#byboat{
  top: 0;
  left: 0;
  background: radial-gradient(50% 50% at 50% 50%, #DED3CB 42%, #7FC4CE 100%);
}

#byboat .travel-option{
  background: linear-gradient(180deg, #FFFAEA 26.23%, #A1BEF7 60.1%, #344F00 77.86%);
  background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}

#byplane{
  top: 0;
  right: 0;
  background: radial-gradient(50% 50% at 50% 50%, #C69AE1 1.09%, #E1BE9A 42%, #FF540F 100%);
}

#byplane .travel-option{
  background: linear-gradient(180deg, #3C3A8E 14.52%, #CC8BFF 34.47%, #FFFAEA 77.86%, #FFFAEA 77.86%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}


/* KITCHEN */
/* Vertical Gradient Frame */
.ver-col{
  width: 15px;
  height: 100vh;
  background: var(--rainbow);
  position: absolute;
  top: 0;
  z-index: 2;
}

.ver-col:first-child{

}
.ver-col:last-child{
  right: 0;
}


/* Food Container */
#food-container{
  position: absolute;
  height: 0%;
  margin: 0 auto;
}

.drag-food-item{
  position: relative;
  width: 35%;
  height: fit-content;
  transition: transform .3s ease;
}

.drag-food-item img{
  width: 100%;
  
}

.food-rice{
  width: 25%;
  height: 25%;
  display: flex;
}

.food-rice img{
  position: absolute;
  flex-grow: 1;
}

#rauxao{
  top: -180vh;
  left: 25vw;
}

#canhchua{
  top: -40vh;
  left: 60vw;
}

#cakho{
  top: -80vh;
  left: 40vw;
}

#tocom{
  top: -80vh;
  left: 70vw;
}

.canh-stages, .ca-stages, .rau-stages{
  z-index: 5;
}

.bowl-stages{

}

.other-bowls .food-rice{
  position: absolute;
}

.other-bowls .food-rice img{
  width: 60%;
}

.other-bowls>.food-rice:first-child{
  top: -13%;
  left: 55%;
  transform: translate(-50%, 0);
  
}

.other-bowls>.food-rice:nth-child(2){
  top: 50%;
  left:-7%;
  transform: translate(0, -50%);
  
}

.other-bowls>.food-rice:nth-child(3){
  top: 50%;
  right:-15%;
  transform: translate(0, -50%);
  
}

.food-cutout{
  transform-origin: center; 
  margin-top: 12%;
  position: absolute;
  
  top: 0%;  
  left: 10%; 
  transform: translate(-50%, 15%);
}

/* QUIZ PORTION */
.quiz-container{
  display: flex;
  width: 65vw;
  height: 20vh;
  position: absolute;
  background-color: #F5FFB8;
  right: 15px;
  bottom: 6vh;
  flex-direction: column;
  transition: transform .5s;
  cursor: pointer;
}


/*Quiz border*/
.q-border-horizontal-1, .q-border-horizontal-2, .q-border-vertical{
  position: absolute;
}

.q-border-horizontal-1, .q-border-horizontal-2{
  height: 12px;
}

.q-border-horizontal-2{
  width: calc(65vw + 12px);
  
}

.bor1{
  top: -24px;
  left: -24px;
}

.bor2{
  bottom: -24px;
  left: -24px;
}

.bor3{
  left: -12px;
  top: -12px;
}

.bor4{
  left: -12px;
  bottom: -12px;
}

.bor5{
  left: -12px;
}

.q-border-horizontal-1{
  width: 12px;
}

.q-border-vertical{
  width: 12px;
  height: 20vh;
}

/*Question*/
.quiz-question-container{
  
  display: flex;
  justify-content: center;
  width: 100%;
}

.quiz-question{
  font-size: 36px;
  position: absolute;
  letter-spacing: -1.2px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  color: #FDF700;
  
  -webkit-text-stroke-width: 1.3px;
-webkit-text-stroke-color: #000;
}

.quiz-content{
  display: none;
}

.question-active{
  display: block;
}

.quiz-question span{
  font-size: 40px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

.gradient-text {
  
  background: linear-gradient(180deg, #FFFAEA 50.23%, #FFA2E2 70.1%, #FF0031 87.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.outline-text {
  
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  

}


.outline-text span{
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  color: transparent;
  
}
.quiz-question-shadow, .quiz-question-shadow span{
  -webkit-text-stroke-width: 8px !important;
  -webkit-text-stroke-color: #F20057 !important;
  filter: blur(1px);
}

/* Answer */
.quiz-answer-option{
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%,0);
}



.btn-option{
  width: 190px;
  height: 50px;
  border-radius: 50%; /* This will make the button shape as an ellipse */
  background: var(--pink-white); /* Button background color */
  color: #000;
  text-align: center;
  font-size: 17px; /* Button text size */
  border: none; /* Remove button border */
  cursor: none;
  font-family: "Arial Narrow";
  letter-spacing: -.6px;
  display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.btn-option:hover{
  box-shadow: inset 0 0 15px #FF0031;
}

.btn-correct:hover, .btn-wrong:hover{
  box-shadow: none;
}

.btn-correct{
  background: radial-gradient(50% 50% at 50% 50%, #FFFDF6 0%, #009E57 100%);
}

.btn-wrong{
  background: radial-gradient(50% 50% at 50% 50%, #FFFDF6 0%, #FF0031 100%);
}



.btn-outline{
  position: absolute;
  width: 176px;
  height: 38px;
  border: 1px solid black;
  border-radius: 50%;
  top: 50%;
  transform: translate(0, -50%);
 
}

#close-quiz{
  position: absolute;
  right: 0;
  padding: 5px;
  z-index: 3;
}

#wrong-popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  pointer-events: none;
font-family: "DFVN 36Daysoftype";
font-size: 350px;
font-style: normal;
font-weight: 400;
letter-spacing: -8px;

background: radial-gradient(70.54% 70.54% at 50% 29.46%, #FFFDF6 0%, #FF0031 82%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
opacity: 0%;
transition: opacity .2s ease;
}

.correct-popup{
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

.correct-popup img{
  max-width: 200px;
  max-height: 220px;
  z-index: 10;
}

.correct-popup-container div:nth-child(1){
  top: 10vh;
  left: 4vw;
}

.correct-popup-container div:nth-child(2){
  top: 10vh;
  right: 4vw;
}

.correct-popup-container div:nth-child(3){
  bottom: 15vh;
  left: 8vw;
}

.correct-popup-container div:nth-child(4){
  bottom: 30vh;
  left: 20vw;
}

.correct-popup-container div:nth-child(5){
  bottom: 20vh;
  right: 6vw;
}